/* Allgemeine Farben */
:root {
  --background-color: #1E1E1E;
  --header-color: #2A2A2A;
  --text-color: #FFFFFF;
  --card-color: #333333;
  --border-color: #444444;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--header-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

input#search {
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
  color: var(--text-color);
}

#results {
  padding: 20px;
}

.nutrient-item {
  background-color: var(--card-color);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}

.nutrient-item:hover {
  background-color: var(--border-color);
}

#details {
  padding: 20px;
  background-color: var(--header-color);
  border-top: 1px solid var(--border-color);
  display: none; /* Standardmäßig ausgeblendet */
}

h2, p {
  margin: 10px 0;
}
